<h2 class="ui grey header">
    <img class="ui image" src="./assets/images/movie.png ">
    <div class="content">
      Do you know your movies?
    </div>
  </h2>
  <form class="ui form">
    <div class="field">
      <input type="text" name="movie-name" placeholder="Enter Movie Name" #movieName>
    </div>
    <button class="ui button primary" (click)="getMovieDetails(movieName.value)" type="submit">Search</button>
  </form>
  <div *ngIf="movieData" class="ui raised segment">
    <h3 *ngIf="movieData">Movie: {{movieData.Title}}</h3>
    <img *ngIf="movieData" src={{movieData.Poster}} [style.height.px]='imageHeight'>
    <ul>
      <li *ngFor="let rate of movieData.Ratings">
        Source: {{rate.Source}} <br />
        Rating : {{rate.Value}}
      </li>
    </ul>
    <div ></div>
  </div>
